{
  "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
  "database.user": "<db user>",
  "database.dbname": "dev",
  "transforms.unwrap.delete.handling.mode": "rewrite",
  "tasks.max": "1",
  "publication.name": "alltables",
  "transforms": "unwrap",
  "database.server.name": "rds",
  "plugin.name": "pgoutput",
  "database.port": "5432",
  "topic.prefix": "rds",
  "database.hostname": "<postgres host>",
  "database.password": "<db password>",
  "transforms.unwrap.drop.tombstones": "false",
  "transforms.unwrap.add.fields": "op,db,table,schema,lsn,source.ts_ms",
  "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
  "table.include.list": "public.books",
  "value.converter": "org.apache.kafka.connect.json.JsonConverter",
  "key.converter": "org.apache.kafka.connect.json.JsonConverter",
  "schema.include": "public"
}