{
  "connector.class": "com.mongodb.kafka.connect.MongoSinkConnector",
  "database": "kafka", 
  "key.converter.schema.enable": "false",
  "tasks.max": "1",
  "topics": "mongo_sink",
  "value.converter.schema.enable": "false",
  "connection.uri": "mongodb://<username>:<password>@<mongodb_hostname>:<port>/?ssl=true",
  "collection": "sink",
  "value.converter": "org.apache.kafka.connect.storage.StringConverter",
  "key.converter": "org.apache.kafka.connect.storage.StringConverter"
}